/* Ensure Tailwind CSS is properly configured */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* * {
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
} */


/* body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  } */